---
import { AstroFont } from "astro-font";
import { SEO } from "astro-seo";
import "../styles/global.css";
import Overlay from "../components/molecules/Overlay.astro";
import { EnsAwardsFormFields } from "../components/molecules/contact-form/types";
import Footer from "../components/organisms/Footer.astro";
import Header from "../components/organisms/Header.astro";
import StaticHeader from "../components/organisms/StaticHeader.astro";
import SuggestionForm from "../components/organisms/SuggestionForm.astro";

interface PageMetadata {
  title?: string;
  description?: string;
  og_image?: string;
  twitter_image?: string;
  url?: string;
}
export interface LayoutProps {
  isStatic: boolean;
  pageMetadata: PageMetadata;
}

const DEFAULT_TITLE = "ENSAwards: ENS leaderboards and best practices";
const DEFAULT_DESCRIPTION = "Awarding the best in ENS.";
const DEFAULT_URL = "https://ensawards.org/";
const DEFAULT_OG_IMAGE = "/default_og_image.png";
const DEFAULT_TWITTER_IMAGE = "/default_twitter_og_image.png";

const DEFAULT_PAGE_METADATA: PageMetadata = {
  title: DEFAULT_TITLE,
  description: DEFAULT_DESCRIPTION,
  og_image: DEFAULT_OG_IMAGE,
  twitter_image: DEFAULT_TWITTER_IMAGE,
  url: DEFAULT_URL,
};

const { isStatic = false, pageMetadata = DEFAULT_PAGE_METADATA }: LayoutProps = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <AstroFont
      config={[
        {
          src: [],
          name: "Inter",
          // Google Fonts URL
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap",
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      title={pageMetadata.title || DEFAULT_TITLE}
      description={pageMetadata.description || DEFAULT_DESCRIPTION}
      openGraph={{
        basic: {
          title: pageMetadata.title || DEFAULT_TITLE,
          type: "website",
          image: pageMetadata.og_image || DEFAULT_OG_IMAGE,
          url: pageMetadata.url || DEFAULT_URL,
        },
        optional: {
          description: pageMetadata.description || DEFAULT_DESCRIPTION,
          siteName: "ENSAwards",
        },
      }}
      twitter={{
        creator: "@NameHashLabs",
        title: pageMetadata.title || DEFAULT_TITLE,
        image: pageMetadata.twitter_image || DEFAULT_TWITTER_IMAGE,
        description: pageMetadata.description || DEFAULT_DESCRIPTION,
        card: "summary_large_image",
      }}
      extend={{
        link: [
          { rel: "icon", href: "/favicon.ico" },
          { rel: "manifest", href: "/site.webmanifest" },
          { rel: "apple-touch-icon", href: "/apple-touch-icon.png" },
        ],
      }}
    />
  </head>
  <body>
    {isStatic ? <StaticHeader /> : <Header />}
    <slot />
    <div id="app-overlay" class="hidden">
      <Overlay>
        <SuggestionForm
          whatsSuggested="app"
          formFields={[
            { label: EnsAwardsFormFields.Name, type: "text", required: true },
            { label: EnsAwardsFormFields.Url, type: "url", required: true },
            {
              label: EnsAwardsFormFields.Description,
              type: "text",
              required: false,
            },
          ]}
        />
      </Overlay>
    </div>
    <div id="best-practice-overlay" class="hidden">
      <Overlay>
        <SuggestionForm
          whatsSuggested="best practice"
          formFields={[
            {
              label: EnsAwardsFormFields.Description,
              type: "text",
              required: true,
            },
          ]}
        />
      </Overlay>
    </div>
    <div id="benchmark-result-overlay" class="hidden">
      <Overlay>
        <SuggestionForm
          whatsSuggested="benchmark result"
          formFields={[
            {
              label: EnsAwardsFormFields.App,
              type: "text",
              required: true,
            },
            {
              label: EnsAwardsFormFields.Benchmark,
              type: "text",
              required: true,
            },
            {
              label: EnsAwardsFormFields.BenchmarkResultUpdate,
              type: "text",
              required: false,
            },
          ]}
        />
      </Overlay>
    </div>
    <div id="dao-overlay" class="hidden">
      <Overlay>
        <SuggestionForm
          whatsSuggested="dao"
          formFields={[
            { label: EnsAwardsFormFields.Name, type: "text", required: true },
            { label: EnsAwardsFormFields.Url, type: "url", required: true },
            {
              label: EnsAwardsFormFields.Description,
              type: "text",
              required: false,
            },
          ]}
        />
      </Overlay>
    </div>
    <div id="contract-overlay" class="hidden">
        <Overlay>
            <SuggestionForm
                    whatsSuggested="contract"
                    formFields={[
                        { label: EnsAwardsFormFields.Project, type: "text", required: true },
                        { label: EnsAwardsFormFields.ContractAddress, type: "text", required: true },
                        {
                            label: EnsAwardsFormFields.Description,
                            type: "text",
                            required: false,
                        },
                    ]}
            />
        </Overlay>
    </div>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
