---
import { AstroFont } from "astro-font";
import { SEO } from "astro-seo";
import "../styles/global.css";
import Overlay from "../components/molecules/Overlay.astro";
import { EnsAwardsFormFields } from "../components/molecules/contact-form/types";
import Footer from "../components/organisms/Footer.astro";
import Header from "../components/organisms/Header.astro";
import StaticHeader from "../components/organisms/StaticHeader.astro";
import SuggestionForm from "../components/organisms/SuggestionForm.astro";

export interface LayoutProps {
  isStatic: boolean;
}

const { isStatic = false }: LayoutProps = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <AstroFont
      config={[
        {
          src: [],
          name: "Inter",
          // Google Fonts URL
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap",
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title="ENSAwards - Promoting excellence in ENS integrations"
      description="Promoting excellence in ENS integrations"
      openGraph={{
        basic: {
          title: "ENSAwards - Promoting excellence in ENS integrations",
          type: "website",
          image: "https://ensawards.org/og_image.png",
          url: "https://ensawards.org/",
        },
        optional: {
          description: "Promoting excellence in ENS integrations",
          siteName: "ENSAwards",
        },
      }}
      twitter={{
        creator: "@NameHashLabs",
        title: "ENSAwards - Promoting excellence in ENS integrations",
        image: "https://ensawards.org/twitter_og_image.png",
        description: "Promoting excellence in ENS integrations",
        card: "summary_large_image",
      }}
      extend={{
        link: [
          { rel: "icon", href: "/favicon.svg" },
          { rel: "manifest", href: "/site.webmanifest" },
          { rel: "apple-touch-icon", href: "/apple-touch-icon.png" },
        ],
      }}
    />
  </head>
  <body>
    {isStatic ? <StaticHeader /> : <Header />}
    <slot />
    <div id="app-overlay" class="hidden">
      <Overlay>
        <SuggestionForm
          whatsSuggested="app"
          formFields={[
            { label: EnsAwardsFormFields.Name, type: "text", required: true },
            { label: EnsAwardsFormFields.Url, type: "url", required: true },
            {
              label: EnsAwardsFormFields.Description,
              type: "text",
              required: false,
            },
          ]}
        />
      </Overlay>
    </div>
    <div id="best-practice-overlay" class="hidden">
      <Overlay>
        <SuggestionForm
          whatsSuggested="best practice"
          formFields={[
            {
              label: EnsAwardsFormFields.Description,
              type: "text",
              required: true,
            },
          ]}
        />
      </Overlay>
    </div>
    <div id="benchmark-result-overlay" class="hidden">
      <Overlay>
        <SuggestionForm
          whatsSuggested="benchmark result"
          formFields={[
            { label: EnsAwardsFormFields.App, type: "text", required: true },
            {
              label: EnsAwardsFormFields.Benchmark,
              type: "text",
              required: true,
            },
            {
              label: EnsAwardsFormFields.BenchmarkResultUpdate,
              type: "text",
              required: false,
            },
          ]}
        />
      </Overlay>
    </div>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
