---
import Layout from "../layouts/Layout.astro";
import SubpageHero from "../components/molecules/SubpageHero.astro";
---

<Layout>
    <SubpageHero header="Best practices" description="Lorem ipsum dolor sin amet" breadcrumbs={["Page", "BP"]} additionalElements={[{name: "Test", value: "Testing"}, {name: "Papa", value: "Essa", link: "https://www.google.com"}]}/>
    <h1>BEST PRACTICES</h1>
</Layout>
