---
import { ENSNODE_URL } from "astro:env/client";
import SubpageHero from "../components/molecules/SubpageHero.astro";
import { EnsNodeReactContent } from "../components/organisms/EnsNodeReactContent";
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <SubpageHero header="ENSNode integration (tests)" />
    <section
            class="w-full box-border h-fit flex flex-col flex-nowrap justify-start items-center gap-10 p-5 sm:py-[60px] sm:px-8">
        <EnsNodeReactContent client:load connectionURL={ENSNODE_URL} />
    </section>
</Layout>