---
import ReferralProgramsCTA from "@/components/atoms/banners/ReferralProgramsCTA.astro";
import Hero from "@/components/molecules/Hero.astro";
import { ReferrerLeaderboardSnippet } from "@/components/referral-awards-program/referrers/ReferrerLeaderboardSnippet";
import { TOP_DISPLAY_APP_TYPES, BOTTOM_DISPLAY_APP_TYPES } from "data/apps";
import Layout from "@/layouts/Layout.astro";
import { ProtocolTypes } from "data/protocols/types.ts";
import AppLeaderboardSnippet from "@/components/organisms/AppLeaderboardSnippet.astro";
import ProtocolLeaderboardSnippet from "@/components/organisms/ProtocolLeaderboardSnippet.astro";
---

<Layout>
  <Hero />
  <section
    id="previews-section"
    class="w-full box-border h-fit flex flex-col flex-nowrap justify-center items-center max-sm:gap-6 gap-10 py-5 sm:py-[60px] px-5 sm:px-8">
    <ReferralProgramsCTA />
    {
      TOP_DISPLAY_APP_TYPES.map((appType) => (
        <AppLeaderboardSnippet appType={appType} />
      ))
    }
    {
      [...Object.values(ProtocolTypes)].map((protocolType) => (
        <ProtocolLeaderboardSnippet protocolType={protocolType} />
      ))
    }
    {
      BOTTOM_DISPLAY_APP_TYPES.map((appType) => (
        <AppLeaderboardSnippet appType={appType} />
      ))
    }
    <ReferrerLeaderboardSnippet client:load />
  </section>
</Layout>
