---
import Layout from "../../layouts/Layout.astro";
import SubpageHero from "../../components/molecules/SubpageHero.astro";
import CardBadge from "../../components/atoms/CardBadge.astro";
import AppReviewCard from "../../components/atoms/cards/AppReviewCard.astro";
import RainbowIcon from "../../assets/rainbowIcon.svg";
import ItemsList from "../../components/molecules/ItemsList.astro";
import {appReviewCards} from "../../data/appReviewsData";
import SuggestFormOpener from "../../components/atoms/SuggestFormOpener.astro";
---

<Layout>
    <SubpageHero header="App reviews" />
    <section class="w-full box-border h-fit flex flex-col flex-nowrap justify-start items-center gap-10 py-[60px] sm:px-8">
        <ItemsList header="App reviews" numberOfItems={appReviewCards.length} >
            {appReviewCards.map((app, idx) => (
                    <AppReviewCard
                            key=`app-review-card-${idx}`
                            name="Rainbow Wallet"
                            description="Rainbow is a fun, simple, and secure way to get started with crypto and explore Ethereum."
                            overallScore={90}
                            websiteLink="https://rainbow.me/"
                            type="website"
                            viewReviewLink="/app-reviews"
                    >
                        <RainbowIcon slot="icon" />
                        <CardBadge slot="badge" text="Top performer" className="text-primary-foreground bg-black"/>
                    </AppReviewCard>
            ))}
            <SuggestFormOpener whatsSuggested="app"/>
        </ItemsList>
    </section>
</Layout>