---
import { calcRemainingAwardPool } from "data/contract-naming-season-awards/utils";

const $ensFormatterShort = new Intl.NumberFormat("en-US", {
  minimumFractionDigits: 0,
  maximumFractionDigits: 0,
});
---

<div
  class="w-full sm:max-w-[600px] flex flex-col gap-4 items-start justify-start">
  <h2
    class="text-3xl leading-normal font-semibold text-black text-left self-stretch">
    Distributed awards
  </h2>
  <p class="text-base leading-normal font-normal text-muted-foreground">
    Many awards for ENS Contract Naming Season have already been distributed.
    Act fast to participate before the remaining <span class="text-black"
      >{$ensFormatterShort.format(calcRemainingAwardPool())} $ENS</span
    > award pool is exhausted!
  </p>
</div>
