---
import RainbowIcon from "../../../assets/rainbowIcon.svg";
import MatrixBadge from "../../../components/atoms/MatrixBadge.astro";
import MobileMatrixRowCard from "../../../components/atoms/cards/MobileMatrixRowCard.astro";
import ItemsList from "../../../components/molecules/ItemsList.astro";
import ItemsMatrix from "../../../components/molecules/ItemsMatrix.astro";
import SubpageHero from "../../../components/molecules/SubpageHero.astro";
import Layout from "../../../layouts/Layout.astro";
export function getStaticPaths() {
  //TODO: this will grow a lot once the data is actually here, but I suppose we'll be able to automate this function then
  return [
    { params: { category: 0, bestPractice: 0 } },
    { params: { category: 1, bestPractice: 0 } },
    { params: { category: 2, bestPractice: 0 } },
    { params: { category: 3, bestPractice: 0 } },
    { params: { category: 4, bestPractice: 0 } },
    { params: { category: 5, bestPractice: 0 } },
    { params: { category: 6, bestPractice: 0 } },
    { params: { category: 7, bestPractice: 0 } },
    { params: { category: 8, bestPractice: 0 } },
    { params: { category: 9, bestPractice: 0 } },
    { params: { category: 10, bestPractice: 0 } },
    { params: { category: 11, bestPractice: 0 } },
  ];
}

const { category, bestPractice } = Astro.params;

//TODO: adapt all data here to be dependent on actual category->best-practice pairs once we get the data, for now use mock

const mockBestPracticeData = {
  name: "Support ENSIP-19",
  description:
    "This ENSIP standardizes reverse and primary name resolution for all coin types, and defines how this resolution process operates across the ecosystem.",
  additionalHeroData: [
    {
      name: "Category",
      value: "ENS Resolution",
      link: new URL("https://docs.ens.domains/resolution/"),
    },
    {
      name: "Apps passed",
      value: "12",
    },
    {
      name: "Passing score",
      value: "90%",
    },
  ],
};
---

<Layout>
  <SubpageHero
    header={mockBestPracticeData.name}
    description={mockBestPracticeData.description}
    breadcrumbs={["ENS best practices", category]}
    additionalElements={mockBestPracticeData.additionalHeroData}
  />
  <section
    class="w-full box-border h-fit sm:hidden flex flex-col flex-nowrap justify-start items-center gap-XX p-5">
    <ItemsList header="App support matrix">
      {
        [1, 2, 3].map((elem) => (
          <MobileMatrixRowCard
            name="Rainbow Wallet"
            notes={
              elem === 1
                ? `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                     incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                     ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                     in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                     non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.`
                : `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                     incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                     ullamco laboris nisi ut aliquip ex ea commodo consequat.`
            }
            viewButtonData={{
              text: "View full review",
              link: `/app-benchmarks/${elem}`,
            }}
            matrixColumnData={[
              {
                category: "Type",
                value: "Wallet",
              },
              {
                category: "Website",
                value: "Visit site ↗",
                link: "https://rainbow.me/",
                linkStyles:
                  "text-blue-600 transition-all duration-200 hover:underline hover:underline-offset-[25%] decoration-from-font",
              },
            ]}>
            <MatrixBadge
              slot="badge"
              text={elem === 1 ? "Partial pass" : elem === 2 ? "Pass" : "Fail"}
              className={
                elem === 1
                  ? "text-neutral-900 bg-neutral-100"
                  : elem === 2
                    ? "text-emerald-600 bg-[#0596691A]"
                    : "text-red-600 bg-[#DC26261A]"
              }
              iconId={
                elem === 1 ? "partialCheck" : elem === 2 ? "check" : "cross"
              }
            />
            <RainbowIcon slot="icon" />
          </MobileMatrixRowCard>
        ))
      }
    </ItemsList>
  </section>
  <section
    class="w-full box-border h-fit hidden sm:flex flex-col flex-nowrap justify-start items-center gap-10 py-[60px] sm:px-8">
    <ItemsMatrix
      header="App support matrix"
      whatToSuggest="app"
      columnNames={["App name", "Type", "Website", "Notes", "Result"]}
      rows={[
        [
          {
            text: "Rainbow",
            link: "https://rainbow.me/",
            iconSource: "/src/assets/rainbowIcon.svg",
          },
          { text: "Wallet" },
          { text: "https://rainbow.me/", link: "https://rainbow.me/" },
          { text: "-" },
          {
            text: "Pass",
            badgeData: {
              icon: "check",
              className: "text-emerald-600 bg-[#0596691A]",
            },
          },
        ],
        [
          {
            text: "Rainbow",
            link: "https://rainbow.me/",
            iconSource: "/src/assets/rainbowIcon.svg",
          },
          { text: "Wallet" },
          { text: "https://rainbow.me/", link: "https://rainbow.me/" },
          { text: "-" },
          {
            text: "Partial pass",
            badgeData: {
              icon: "partialCheck",
              className: "text-neutral-900 bg-neutral-100",
            },
          },
        ],
        [
          {
            text: "Rainbow",
            link: "https://rainbow.me/",
            iconSource: "/src/assets/rainbowIcon.svg",
          },
          { text: "Wallet" },
          { text: "https://rainbow.me/", link: "https://rainbow.me/" },
          { text: "-" },
          {
            text: "Fail",
            badgeData: {
              icon: "cross",
              className: "text-red-600 bg-[#DC26261A]",
            },
          },
        ],
      ]}
    />
  </section>
</Layout>
