---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

import benchmarkResultFailSymbol from "@/assets/benchmarkResultFailSymbol.svg";
import benchmarkResultPartialPassSymbol from "@/assets/benchmarkResultPartialPassSymbol.svg";
import benchmarkResultPassSymbol from "@/assets/benchmarkResultPassSymbol.svg";
import benchmarkPendingSymbol from "@/assets/benchmarkPendingSymbol.svg";
import {
  BenchmarkResult,
  BenchmarkStatuses,
  type EffectiveAppBenchmark,
} from "data/apps/benchmarks-types.ts";
import { cn } from "@/utils/tailwindClassConcatenation";
import {
  type BenchmarkResultBadgeProps,
  getBenchmarkResultLabel,
} from "./BenchmarkResultBadge.tsx";

const { benchmark, className }: BenchmarkResultBadgeProps = Astro.props;

const benchmarkResultContent = (
  benchmark: EffectiveAppBenchmark,
): { symbol: ImageMetadata; symbolAlt: string } => {
  if (benchmark.status === BenchmarkStatuses.Pending) {
    return {
      symbol: benchmarkPendingSymbol,
      symbolAlt: "Pending review benchmark indicator",
    };
  }
  switch (benchmark.result) {
    case BenchmarkResult.PartialPass:
      return {
        symbol: benchmarkResultPartialPassSymbol,
        symbolAlt: "Partially passed benchmark result indicator",
      };
    case BenchmarkResult.Pass:
      return {
        symbol: benchmarkResultPassSymbol,
        symbolAlt: "Passed benchmark result indicator",
      };
    case BenchmarkResult.Fail:
    default:
      return {
        symbol: benchmarkResultFailSymbol,
        symbolAlt: "Failed benchmark result indicator",
      };
  }
};

const { symbol, symbolAlt } = benchmarkResultContent(benchmark);
---

<div
  class={cn(
    "flex w-full max-w-[124px] sm:max-w-[228px] flex-col items-center gap-[14px] rounded-2xl border border-white/10 bg-[linear-gradient(180deg,#191D4D_0%,#10143F_100%)] px-6 sm:px-11 pb-[13px] sm:pb-[23px] pt-4.5 sm:pt-8 relative z-10",
    className,
  )}>
  <Image
    src={symbol}
    alt={symbolAlt}
    width={139}
    height={139}
    class="h-[75px] sm:h-[139px] w-[75px] sm:w-[139px] shrink-0"
    quality={100}
  />
  <p class="text-center text-base font-medium leading-normal text-[#F5F5F5]">
    {getBenchmarkResultLabel(benchmark)}
  </p>
</div>
