---
import CategoryCard from "../../components/atoms/cards/CategoryCard.astro";
import ItemsList from "../../components/molecules/ItemsList.astro";
import SubpageHero from "../../components/molecules/SubpageHero.astro";
import { bestPracticesCategoryCards } from "../../data/bestPracticesData";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <SubpageHero header="Best practices"/>
    <section class="w-full box-border h-fit flex flex-col flex-nowrap justify-start items-center gap-10 py-[60px] sm:px-8">
        <ItemsList header="Categories" numberOfItems={bestPracticesCategoryCards.length}>
            {bestPracticesCategoryCards.map((card, idx) => (
                    <CategoryCard
                            key=`category-card-${idx}`
                            name="ENS Resolution"
                            description="This ENSIP standardizes reverse and primary name resolution for all coin types, and defines how this resolution process operates across the  multichain Ethereum ecosystem."
                            viewBestPracticesLink=`/best-practices/${card}`
                            numberOfBestPractices={12}
                    />
            ))}
        </ItemsList>
    </section>
</Layout>
