---

import Layout from "../../layouts/Layout.astro";
import SubpageHero from "../../components/molecules/SubpageHero.astro";
import {ReferrersList} from "../../components/holiday-referral-awards/referrers-list/ReferrersList";
---

<Layout>
    <SubpageHero header="Referrer leaderboard"/>
    <section
            class="w-full box-border h-fit flex flex-col flex-nowrap justify-start items-center max-sm:gap-6 gap-10 p-5 sm:py-[60px] sm:px-8">
        <ReferrersList client:load/>
    </section>
</Layout>
