---
import SubpageHero from "../../components/molecules/SubpageHero.astro";
import { ReferrerLeaderboard } from "../../components/referral-awards-program/referrers/ReferrerLeaderboard";
import Layout from "../../layouts/Layout.astro";
---

<Layout
  pageMetadata={{
    title: "ENSAwards: ENS Leaderboard for ENS Holiday Awards Referrers",
    description:
      "Compare referrers by their performance in ENS Holiday Awards.",
    url: "https://ensawards.org/leaderboards/referrer",
    ogImage: "https://ensawards.org/referrer_leaderboard_og_image.png",
    twitterImage:
      "https://ensawards.org/referrer_leaderboard_twitter_og_image.png",
  }}>
  <SubpageHero
    header="ENS Referral Leaderboard"
    description="Compare referrers by their performance in ENS Holiday Awards."
    breadcrumbs={["ENS Holiday Awards"]}
    customImage={{
      source: "/src/assets/leaderboardsHeroImage.png",
      width: 371,
      height: 372,
      styles: "-top-0 right-0",
    }}
  />
  <section
    class="w-full box-border h-fit flex flex-col flex-nowrap justify-start items-center max-sm:gap-6 gap-10 p-5 sm:py-[60px] sm:px-8">
    <ReferrerLeaderboard client:load />
  </section>
</Layout>
