---
import { ReferrersPaginatedDisplay } from "../../components/holiday-referral-awards/referrers/ReferrersPaginatedDisplay";
import SubpageHero from "../../components/molecules/SubpageHero.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout
  pageMetadata={{
    title: "ENSAwards: ENS Leaderboard for ENS Holiday Awards Referrers",
    description:
      "Compare referrers by their performance in ENS Holiday Awards.",
    url: "https://ensawards.org/leaderboards/referrer",
    ogImage: "/referrer_leaderboard_og_image.png",
    twitterImage: "/referrer_leaderboard_twitter_og_image.png",
  }}>
  <SubpageHero
    header="Referrer leaderboard"
    description="Compare referrers by their performance in ENS Holiday Awards."
    breadcrumbs={["ENS Holiday Awards"]}
    customImage={{
      source: "/src/assets/leaderboardsHeroImage.png",
      width: 371,
      height: 372,
      styles: "-top-0 right-0",
    }}
  />
  <section
    class="w-full box-border h-fit flex flex-col flex-nowrap justify-start items-center max-sm:gap-6 gap-10 p-5 sm:py-[60px] sm:px-8">
    <ReferrersPaginatedDisplay client:load />
  </section>
</Layout>
