---
import { ENS_HOLIDAY_AWARDS_END_DATE } from "@namehash/ens-referrals";

import AlertCountdown from "../../components/atoms/AlertCountdown.astro";
import { ReferralProgramTimeline } from "../../components/atoms/ReferralProgramTimeline";
import SubpageHero from "../../components/molecules/SubpageHero.astro";
import { ReferrerLeaderboard } from "../../components/referral-awards-program/referrers/ReferrerLeaderboard";
import { shadcnButtonVariants } from "../../components/ui/shadcnButtonStyles";
import { ENSHolidayAwards } from "../../data/referralIncentivePrograms";
import Layout from "../../layouts/Layout.astro";
import { cn } from "../../utils/tailwindClassConcatenation";
---

<Layout
  pageMetadata={{
    title: "ENSAwards: ENS Leaderboard for ENS Holiday Awards Referrers",
    description:
      "Compare referrers by their performance in ENS Holiday Awards.",
    url: "https://ensawards.org/leaderboards/referrer",
    ogImage: "https://ensawards.org/referrer_leaderboard_og_image.png",
    twitterImage:
      "https://ensawards.org/referrer_leaderboard_twitter_og_image.png",
  }}>
  <AlertCountdown
    slot="alertBanner"
    eventUnixTimestamp={ENS_HOLIDAY_AWARDS_END_DATE}
    eventText="ENS Holiday Awards ends in"
    ctaText="Learn more"
    link="/ens-referral-awards"
    styles={{
      banner: "bg-blue-700 hover:bg-blue-700/90 transition-all duration-200",
      cta: "text-white decoration-white/40 hover:decoration-white",
      text: "text-white",
      timer: "text-white",
      timerLegend: "text-white",
    }}
  />
  <SubpageHero
    header="ENS Holiday Awards"
    description="Compare referrers by their performance in ENS Holiday Awards."
    breadcrumbs={["ENS Referral Program"]}
    customImage={{
      source: "/src/assets/leaderboardsHeroImage.png",
      width: 371,
      height: 372,
      styles: "-top-0 right-0 opacity-10",
    }}
    additionalElements={[
      {
        name: "Budget",
        value: "$10,000 USD",
      },
      {
        name: "Rules",
        value: "Learn more",
        link: "/ens-holiday-awards-rules",
      },
    ]}>
    <a
      slot="ctaContent"
      href="/ens-referral-awards"
      class={cn(
        shadcnButtonVariants({
          variant: "default",
          size: "default",
          className:
            "cursor-pointer rounded-full px-5 h-11 sm:h-[50px] box-border text-black bg-white hover:bg-white/90",
        }),
      )}>Learn more</a
    >
    <ReferralProgramTimeline
      slot="extraAdditionalElement"
      referralProgramRules={ENSHolidayAwards.rules}
      client:load
    />
  </SubpageHero>
  <section
    class="w-full box-border h-fit flex flex-col flex-nowrap justify-start items-center max-sm:gap-6 gap-10 p-5 sm:py-[60px] sm:px-8">
    <ReferrerLeaderboard client:load />
  </section>
</Layout>
