---
import SubpageHero from "../../components/molecules/SubpageHero.astro";
import { shadcnButtonVariants } from "../../components/shadcn/shadcnButtonStyles";
import Layout from "../../layouts/Layout.astro";
import { normalizeText } from "../../utils";
import { cn } from "../../utils/tailwindClassConcatenation";
import {OrganizationNames} from "../../types/organizations";
---

<Layout>
  <SubpageHero header="DAO Reports (mocks)" />
  <section
    class="w-full box-border h-fit flex flex-col flex-nowrap justify-start items-center gap-10 p-5 sm:py-[60px] sm:px-8">
    <div
      class="max-w-[1216px] flex flex-col justify-start items-start gap-4 p-4 sm:p-6 bg-orange-200 border-orange-400 border-[1px] rounded-lg">
      <h3 class="text-2xl font-semibold text-orange-800">
        WARNING: For development only
      </h3>
      <p>
        This page was specifically created for our development pipeline and
        won't be a part of the final page routing.
        <br />
        It's aim is to allow for easier changing between the "DAO Report" pages that
        are currently being developed. After this work is complete "index.astro"
        page will be deleted.
      </p>
    </div>
    <div
      class="w-full max-w-[1216px] h-fit flex flex-col justify-start items-start gap-4">
      <h3 class="text-xl sm:text-2xl leading-normal font-semibold text-black">
        Choose a "DAO Report" page
      </h3>
      <div class="flex flex-row flex-wrap justify-start items-center gap-4">
        {
          Object.values(OrganizationNames).map((page) => (
            <a
              href={`/dao-report/${normalizeText(page)}`}
              class={cn(
                shadcnButtonVariants({
                  variant: "default",
                  size: "default",
                  className: "cursor-pointer rounded-full",
                }),
              )}>
              {page}
            </a>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
