---
import { TrafficCone } from "@lucide/astro";
export interface UnderConstructionProps {
  text: string;
}

const { text }: UnderConstructionProps = Astro.props;
---

<div
  class="w-full h-fit max-w-[1216px] box-border flex flex-row justify-start items-start gap-3 p-4 rounded-md bg-white relative z-10 border border-gray-200 border-dashed">
  <TrafficCone size={20} class="text-amber-500 flex-shrink-0" />
  <p class="text-sm leading-normal font-normal text-muted-foreground">{text}</p>
</div>
