---
import { Image } from "astro:assets";
import IncentivesImage from "../../assets/contractNamingIncentivesImage.png";
import { cn } from "../../utils/tailwindClassConcatenation";
import { shadcnButtonVariants } from "../ui/shadcnButtonStyles";

const sectionHeaderBaseStyles = "text-2xl leading-normal font-semibold text-black";
const itemTextBaseStyles = "text-base leading-normal font-normal text-muted-foreground";
---

<div
  class="relative w-full max-w-[1216px] h-fit box-border flex flex-col sm:flex-row flex-nowrap justify-start items-center max-sm:gap-5 gap-0 bg-white border border-gray-200 rounded-2xl max-sm:p-5">
  <div
    class="w-full sm:w-1/2 sm:min-h-[400px] box-border flex flex-col max-sm:justify-start justify-between items-start max-sm:gap-5 sm:p-10">
    <div class="flex flex-col justify-start items-start gap-6">
      <div class="flex flex-col justify-start items-start gap-2">
        <h3
          class={cn(
            "text-2xl sm:text-4xl leading-normal font-semibold text-black",
          )}>
          Up to <span class="text-blue-600">10,000 $ENS in awards</span>
        </h3>
        <p class={cn(itemTextBaseStyles)}>
          The ENS DAO has established the ENS Contract Naming Working Group to
          award 10,000 $ENS for high-impact contract naming across DeFi, DAOs,
          consumer dApps, and infrastructure.
        </p>
      </div>
      <a
        href="https://discuss.ens.domains/t/ens-contract-naming-season/21596"
        target="_blank"
        rel="noreferrer"
        class={cn(
          shadcnButtonVariants({
            variant: "outline",
            size: "default",
            className: "cursor-pointer rounded-full",
          }),
        )}>Learn more on the forum</a
      >
    </div>
    <p class={cn(itemTextBaseStyles)}>
      Curious what an "$ENS" is? It's <a
        href="https://docs.ens.domains/dao/token"
        target="_blank"
        rel="noreferrer"
        class="text-black hover:underline hover:underline-offset-[25%] transition-all duration-200"
        >the official ENS token</a
      > which can be held and <a
        href="https://delegate.ens.domains/"
        target="_blank"
        rel="noreferrer"
        class="text-black hover:underline hover:underline-offset-[25%] transition-all duration-200"
        >delegated</a
      > to yourself or others to <a
        href="https://www.tally.xyz/gov/ens"
        target="_blank"
        rel="noreferrer"
        class="text-black hover:underline hover:underline-offset-[25%] transition-all duration-200"
        >vote in ENS DAO governance</a
      > that influences the future of the ENS protocol or <a
        href="https://coinmarketcap.com/currencies/ethereum-name-service/"
        target="_blank"
        rel="noreferrer"
        class="text-black hover:underline hover:underline-offset-[25%] transition-all duration-200"
        >freely swapped for cash</a
      >.
    </p>
  </div>
  <Image
    quality={100}
    src={IncentivesImage}
    alt="Earn $ENS for naming your contracts"
    class="w-full sm:w-1/2 h-auto"
  />
</div>
