---
import { Image } from "astro:assets";
import { Award as AwardIcon, Calendar as CalendarIcon } from "@lucide/astro";

import DecorationsImageLeft from "@/assets/referralProgramEditionDecorationLeft.png";
import DecorationsImageRight from "@/assets/referralProgramEditionDecorationRight.png";
import { cn } from "@/utils/tailwindClassConcatenation";
import { shadcnButtonVariants } from "@/components/ui/shadcnButtonStyles";

const horizontalContainerStyles =
  "w-fit h-fit flex flex-row flex-nowrap justify-start items-center";

const keyInformationTextStyles = "text-base font-normal leading-normal text-black";

// TODO: Make this component dynamic based on the current referral program edition when the time pressure is lower
---

<div
  id="referral-program-edition-cta-banner"
  class="w-full max-w-[1216px] box-border h-fit sm:min-h-[360px] flex flex-row flex-nowrap justify-center items-center bg-neutral-50 rounded-xl max-sm:py-5 max-sm:px-4">
  <Image
    quality={100}
    alt="banner decorations"
    src={DecorationsImageLeft}
    class="max-[800px]:hidden w-[30%]"
  />
  <div
    class="relative z-10 w-fit h-fit flex flex-col flex-nowrap justify-center items-center gap-6">
    <div
      class="w-full max-w-[630px] flex flex-col flex-nowrap justify-center items-center gap-4">
      <div
        class="w-fit h-fit box-border flex flex-row justify-start items-center gap-1 bg-transparent rounded-full border border-black/10 py-2 px-3 cursor-default">
        <p class="text-xs leading-4 font-normal text-black whitespace-nowrap">
          ✨ Up to 50% revenue share
        </p>
      </div>
      <h1
        class="text-black text-2xl lg:text-4xl leading-6 sm:leading-[40px] font-semibold text-center">
        April 2026 Edition
      </h1>
      <p
        class="text-base leading-normal sm:leading-7 font-normal text-center text-muted-foreground">
        Earn $$$ by growing .eth name registrations and renewals.
      </p>
      <div
        class={cn(horizontalContainerStyles, "max-sm:flex-col gap-3 sm:gap-6")}>
        <div class={cn(horizontalContainerStyles, "gap-2.5")}>
          <CalendarIcon class="w-5 h-5 text-[#F59E0B] flex-shrink-0" />
          <p class={keyInformationTextStyles}>April 1-30, 2026</p>
        </div>
        <div class={cn(horizontalContainerStyles, "gap-2.5")}>
          <AwardIcon class="w-5 h-5 text-[#F59E0B] flex-shrink-0" />
          <p class={keyInformationTextStyles}>$20,000 Prize Pool</p>
        </div>
      </div>
    </div>
    <a
      href="/ens-referral-program/editions/2026-04/rules"
      class={cn(
        shadcnButtonVariants({
          variant: "default",
          size: "default",
          className: "cursor-pointer rounded-full",
        }),
      )}>Learn more about the program</a
    >
  </div>
  <Image
    quality={100}
    alt="banner decorations"
    src={DecorationsImageRight}
    class="max-sm:hidden w-[30%]"
  />
</div>
<script>
  import {
    millisecondsInMinute,
    millisecondsInSecond,
  } from "date-fns/constants";

  function updateReferralProgramEditionCTA() {
    const cta = document.getElementById("referral-program-edition-cta-banner");
    const nowUnixTimestamp = Date.now() / millisecondsInSecond;
    const REFERRAL_PROGRAM__CURRENT_EDITION_END_DATE = 1777593599; // April 30th, 2026 23:59:59 UTC

    if (
      cta !== null &&
      nowUnixTimestamp > REFERRAL_PROGRAM__CURRENT_EDITION_END_DATE
    ) {
      // When the event has finished this banner won't be displayed
      cta.style.display = "none";
      return;
    }
  }

  updateReferralProgramEditionCTA();
  setInterval(updateReferralProgramEditionCTA, millisecondsInMinute);
</script>
