---
import { Image } from "astro:assets";
import { cn } from "../../utils/tailwindClassConcatenation";
import { shadcnButtonVariants } from "../ui/shadcnButtonStyles";

import ReferralImage from "../../assets/referralLiveFeedHeroImage.png";

const horizontalContainerStyles =
  "w-fit h-fit flex flex-row flex-nowrap justify-start items-center";
const verticalContainerStyles = "w-fit h-fit flex flex-col justify-start items-start";
---

<section
  class="relative w-full h-fit box-border flex flex-col justify-start sm:justify-center items-center max-sm:gap-10 bg-gradient-to-b from-[#161547] to-[#080E32] overflow-hidden max-sm:px-5 max-sm:pt-10">
  <div
    class="w-full max-w-[1280px] h-fit sm:h-[676px] box-border flex flex-col min-[850px]:flex-row flex-nowrap justify-start sm:max-[850px]:justify-center min-[850px]:justify-between items-center sm:px-8 max-[850px]:gap-6">
    <div
      class="relative z-10 w-fit h-fit flex flex-col flex-nowrap justify-center items-center min-[850px]:items-start gap-6 sm:gap-8">
      <div
        class="max-w-[600px] flex flex-col flex-nowrap justify-center items-center min-[850px]:items-start gap-4">
        <div
          class="w-fit h-fit box-border flex flex-row justify-start items-center gap-1 bg-transparent rounded-full border border-[rgba(229,229,229,0.20)] py-2 px-3 cursor-default">
          <p class="text-xs leading-4 font-normal text-white whitespace-nowrap">
            ✨ Permissionless — Anyone can join!
          </p>
        </div>
        <h1
          class="text-white text-[32px] lg:text-[60px] leading-[44px] sm:leading-tight font-semibold text-center sm:text-left">
          ENS referral program
        </h1>
        <p
          class="text-base leading-normal sm:leading-7 font-normal text-center sm:text-left text-white/60">
          Grow .eth name registrations and renewals. Earn $ENS.
        </p>
      </div>
      <div class={cn(horizontalContainerStyles, "gap-4")}>
        <a
          href="/ens-referral-program#generate-referral-link"
          class={cn(
            shadcnButtonVariants({
              variant: "default",
              size: "default",
              className:
                "cursor-pointer rounded-full px-5 h-12 box-border text-black bg-white hover:bg-white/90",
            }),
          )}>Generate a link</a
        >
        <a
          href="/ens-referral-program/editions"
          class={cn(
            shadcnButtonVariants({
              variant: "ghost",
              size: "default",
              className:
                "cursor-pointer rounded-full px-5 h-12 box-border text-white hover:text-white bg-white/10 hover:bg-white/20",
            }),
          )}>View all editions</a
        >
      </div>
    </div>
    <Image
      quality={100}
      class="w-full sm:max-[850px]:w-[60%] min-[850px]:w-1/2 max-w-[630px]"
      alt="ENS Referral Program"
      src={ReferralImage}
    />
  </div>
</section>
