---
import { ScoreBar } from "@/components/atoms/ens-awards-score/bar.tsx";
import {
  formatEnsAwardsUndefinedScoreLabel,
  EnsAwardsScoreResultTypes,
} from "data/shared/ens-awards-score";
import { type EnsAwardsScoreResult } from "data/shared/ens-awards-score";

interface Props {
  scoreResult: EnsAwardsScoreResult;
}

const { scoreResult }: Props = Astro.props;
---

{
  scoreResult.type === EnsAwardsScoreResultTypes.Undefined ? (
    <p class="text-sm leading-normal font-medium text-black">
      {formatEnsAwardsUndefinedScoreLabel(scoreResult.label)}
    </p>
  ) : (
    <ScoreBar scoreResult={scoreResult} mobileAdaptive={false} />
  )
}
