---
import { EnsAwardsIcon } from "@/components/atoms/icons/EnsAwardsIcon.tsx";
import { cn } from "../../utils/tailwindClassConcatenation";
import HeaderMobileNavigation from "../molecules/HeaderMobileNavigation";
import { shadcnButtonVariants } from "../ui/shadcnButtonStyles";
---

<header
  id="site-header"
  class="custom_header fixed top-0 w-full z-20 h-[56px] sm:h-[70px] border-b border-b-white/10 flex flex-row justify-center items-center">
  <div
    class="w-full max-w-[1280px] box-border flex flex-nowrap flex-row justify-between items-center px-5 sm:px-8">
    <a
      href="/"
      class="w-fit h-fit max-h-[56px] flex flex-row flex-nowrap justify-start items-center gap-[10px]">
      <EnsAwardsIcon className="max-sm:w-[26px] max-sm:h-[25px]" />
      <p
        id="ensAwardsName"
        class="text-[19px] sm:text-2xl text-black leading-[1.333] sm:leading-8 font-bold">
        ENSAwards
      </p>
    </a>
    <div
      class="hidden min-[1050px]:flex flex-row flex-nowrap gap-2 justify-center items-center">
      <a
        href="/leaderboards"
        class={cn(
          shadcnButtonVariants({
            variant: "ghost",
            size: "default",
            className: "onScrollButton rounded-full",
          }),
        )}>ENS leaderboards</a
      >
      <a
        href="/ens-best-practices"
        class={cn(
          shadcnButtonVariants({
            variant: "ghost",
            size: "default",
            className: "onScrollButton rounded-full",
          }),
        )}>ENS best practices</a
      >
      <a
        href="/about"
        class={cn(
          shadcnButtonVariants({
            variant: "ghost",
            size: "default",
            className: "onScrollButton rounded-full",
          }),
        )}>About</a
      >
        <a
                href="/ens-contract-naming-season"
                class={cn(
                    shadcnButtonVariants({
                        variant: "ghost",
                        size: "default",
                        className: "onScrollButton rounded-full",
                    }),
                )}>ENS Contract Naming Season</a
        >
      <a
        href="/ens-referral-awards"
        class={cn(
          shadcnButtonVariants({
            variant: "ghost",
            size: "default",
            className: "onScrollButton rounded-full",
          }),
        )}>ENS Referral Awards</a
      >
    </div>
    <div class="block min-[1050px]:hidden">
      <HeaderMobileNavigation client:load />
    </div>
  </div>
</header>
<script>
  function ScrollHeader() {
    if (typeof window !== "undefined") {
      const header = document.getElementById("site-header");
      const ensAwardsName = document.getElementById("ensAwardsName");
      const headerButtons = document.getElementsByClassName("onScrollButton");

      const scrollWatcher = document.createElement("div");

      scrollWatcher.setAttribute("data-scroll-watcher", "");
      header.before(scrollWatcher);

      const navObserver = new IntersectionObserver(
        (entries) => {
          header.classList.toggle("scrolled", !entries[0].isIntersecting);
          ensAwardsName.classList.toggle(
            "scrolled",
            !entries[0].isIntersecting,
          );

          for (const headerButton of headerButtons) {
            headerButton.classList.toggle(
              "scrolled",
              !entries[0].isIntersecting,
            );
          }
        },
        { rootMargin: "50px 0px 0px 0px" },
      );

      navObserver.observe(scrollWatcher);
    }

    return null;
  }

  ScrollHeader();
</script>

<style>
  .custom_header {
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    color: white;
    background-color: #161547;
  }

  .custom_header.scrolled {
    color: black;
    background-color: white;
    border-bottom: 1px solid oklch(87.2% 0.01 258.338);
  }

  #ensAwardsName {
    color: white;
  }

  #ensAwardsName.scrolled {
    color: black;
  }
</style>
