---

---

<header class="fixed top-0 w-full z-20 h-[70px] border-b border-b-gray-400 flex flex-row justify-center items-center">
    <div class="w-full max-w-[1280px] box-border flex flex-nowrap flex-row justify-between items-center sm:px-8">
        <a href="/">ENSAwards</a>
        <div class="flex flex-row flex-nowrap gap-2 justify-center items-center">
            <a href="/best-practices">Best practices</a>
            <a href="/app-reviews">App reviews</a>
            <header-suggest-button id="header-app-suggestion-button" class="cursor-pointer">Suggest an app</header-suggest-button>
        </div>
    </div>
</header>
<script>
    import {openSuggestionOverlay} from "../../utils/openSuggestionOverlay";

    class SuggestionFormOpener extends HTMLElement {
        connectedCallback() {
            const formOpenerButton = document.getElementById(`header-app-suggestion-button`);

            formOpenerButton.addEventListener('click', () => {
                openSuggestionOverlay("app");
            });
        }
    }

    customElements.define('header-suggest-button', SuggestionFormOpener);
</script>