---

---

<header class="h-[70px] border-b border-b-gray-400 flex flex-row justify-center items-center">
    <div class="w-full max-w-[1280px] box-border flex flex-nowrap flex-row justify-between items-center sm:px-8">
        <a href="/">ENSAwards</a>
        <div class="flex flex-row flex-nowrap gap-2 justify-center items-center">
            <a href="/best-practices">Best practices</a>
            <a href="/app-reviews">App reviews</a>
            <button>Suggest an app</button>
        </div>
    </div>
</header>
