---
import { AccountId } from "@ensnode/ensnode-sdk";
import { millisecondsInSecond, secondsInDay } from "date-fns/constants";
import { zeroAddress } from "viem";
import { ReferralProgramTimeline } from "../../components/atoms/ReferralProgramTimeline";
import ItemsList from "../../components/molecules/ItemsList.astro";
import SubpageHero from "../../components/molecules/SubpageHero.astro";
import Layout from "../../layouts/Layout.astro";

const twoDaysAgoUnixTimestamp = Date.now() / millisecondsInSecond - 2 * secondsInDay;
const inTwoDaysUnixTimestamp = Date.now() / millisecondsInSecond + 2 * secondsInDay;
const january1st2030UnixTimestamp = 1893452400;
const january1st2020UnixTimestamp = 1577833200;

// Mock referral program rules
const mockTotalAwardPoolValue = 10000;
const mockMaxQualifiedReferrers = 10;
const mockSubregistryId: AccountId = { chainId: 1, address: zeroAddress };
---

<Layout>
  <SubpageHero header="ReferralProgramTimeline" breadcrumbs={["Mocks"]} />
  <section
    class="w-full box-border h-fit flex flex-col flex-nowrap justify-start items-center max-sm:gap-6 gap-10 p-5 sm:py-[60px] sm:px-8 text-white">
    <ItemsList
      header="ReferralProgramTimeline variants"
      containerStyles="gap-4 sm:gap-4">
      <p class="text-amber-600 font-semibold">
        NOTE: This preview is styled to be best visible in the mock environment.
        The styles of the timeline component are customizable, hence the public
        display may differ a bit. The UX remains identical in both scenarios.
      </p>
      <div
        class="w-full flex flex-col justify-start items-start gap-4 bg-blue-900 rounded-md p-4">
        <p>Referral Program starting 2 days from now</p>
        <ReferralProgramTimeline
          referralProgramRules={{
            totalAwardPoolValue: mockTotalAwardPoolValue,
            maxQualifiedReferrers: mockMaxQualifiedReferrers,
            startTime: inTwoDaysUnixTimestamp,
            endTime: january1st2030UnixTimestamp,
            subregistryId: mockSubregistryId,
          }}
          client:load
        />
      </div>
      <div
        class="w-full flex flex-col justify-start items-start gap-4 bg-blue-900 rounded-md p-4">
        <p>Referral Program started 2 days ago and ending in 2 days</p>
        <ReferralProgramTimeline
          referralProgramRules={{
            totalAwardPoolValue: mockTotalAwardPoolValue,
            maxQualifiedReferrers: mockMaxQualifiedReferrers,
            startTime: twoDaysAgoUnixTimestamp,
            endTime: inTwoDaysUnixTimestamp,
            subregistryId: mockSubregistryId,
          }}
          client:load
        />
      </div>
      <div
        class="w-full flex flex-col justify-start items-start gap-4 bg-blue-900 rounded-md p-4">
        <p>Referral Program ended 2 days ago</p>
        <ReferralProgramTimeline
          referralProgramRules={{
            totalAwardPoolValue: mockTotalAwardPoolValue,
            maxQualifiedReferrers: mockMaxQualifiedReferrers,
            startTime: january1st2020UnixTimestamp,
            endTime: twoDaysAgoUnixTimestamp,
            subregistryId: mockSubregistryId,
          }}
          client:load
        />
      </div>
    </ItemsList>
  </section>
</Layout>
