---
import SubpageHero from "../../components/molecules/SubpageHero.astro";
import { MockDisplayReferrerLeaderboardPage } from "../../components/referral-awards-program/referrers/mock/MockDisplayReferrerLeaderboardPage";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <SubpageHero header="ReferrersList" breadcrumbs={["Mocks"]} />
  <section
    class="w-full box-border h-fit flex flex-col flex-nowrap justify-start items-center max-sm:gap-6 gap-10 p-5 sm:py-[60px] sm:px-8">
    <MockDisplayReferrerLeaderboardPage client:load />
  </section>
</Layout>
