---
import { Image } from "astro:assets";
import ContractNamingExample from "../../assets/contractNamingExampleImage.png";
import { cn } from "../../utils/tailwindClassConcatenation";
import { shadcnButtonVariants } from "../ui/shadcnButtonStyles";
import ChevronRightIcon from "./icons/ChevronRightIcon.astro";
import DollarEnsTokenIcon from "./icons/DollarEnsTokenIcon.astro";
---

<a
  href="/ens-contract-naming-season"
  class="max-w-[1216px] w-full h-fit sm:h-[88px] flex flex-row flex-nowrap justify-between items-center bg-[linear-gradient(180deg,rgba(22,21,71,1.0)_0%,rgba(8,14,50,1.0)_100%)]
  hover:bg-[linear-gradient(180deg,rgba(22,21,71,0.9)_0%,rgba(8,14,50,0.9)_100%)] transition-all duration-200
  py-2 pl-3 pr-4 sm:p-4 sm:px-6 rounded-lg">
  <div
    class="flex flex-row flex-nowrap justify-start items-center gap-[10px] sm:gap-5">
    <DollarEnsTokenIcon
      className="flex-shrink-0 w-[36px] h-[36px] sm:w-[48px] sm:h-[48px]"
    />
    <div>
      <h4
        class="text-lg max-sm:text-sm font-semibold leading-7 max-sm:leading-6 text-white">
        ENS Contract Naming Season
      </h4>
      <p
        class="hidden sm:inline-flex text-sm text-white/50 font-normal leading-7">
        Act now! 10,000 $ENS incentive window closes soon.
      </p>
      <p class="text-xs text-white/50 font-normal leading-6 sm:hidden">
        Up to 10,000 $ENS in awards
      </p>
    </div>
  </div>
  <button
    class={cn(
      shadcnButtonVariants({
        variant: "outline",
        size: "default",
        className: "cursor-pointer max-sm:hidden",
      }),
    )}>Learn more</button
  >
  <ChevronRightIcon
    className="block sm:hidden w-6 h-6 text-white/50 hover:text-white"
  />
</a>
