---
import { secondsInDay } from "date-fns/constants";

import type { UnixTimestamp } from "@ensnode/ensnode-sdk";

import { cn } from "../../utils/tailwindClassConcatenation";
import DollarEnsTokenIcon from "./icons/DollarEnsTokenIcon.astro";

interface CountdownProps {
  eventUnixTimestamp: UnixTimestamp;
  eventText: string;
  styles?: {
    banner?: string;
    header?: string;
    text?: string;
    timer?: string;
    timerLegend?: string;
  };
}

const { eventUnixTimestamp, eventText, styles }: CountdownProps = Astro.props;
---

<div
  id="countdownRoot"
  data-timestamp={eventUnixTimestamp}
  data-threshold={90 * secondsInDay}
  style={{ display: "none" }}
  class={cn(
    "max-w-[590px] w-full flex flex-col sm:flex-row sm:flex-wrap justify-start sm:justify-between gap-3 sm:gap-0 sm:gap-y-3 items-center px-5 py-3 rounded-xl cursor-default",
    styles?.banner,
  )}>
  <div class="flex flex-row flex-nowrap justify-start items-center gap-3">
    <div id="ensTokenIcon" class="hidden sm:block">
      <DollarEnsTokenIcon className="flex-shrink-0 w-[36px] h-[36px]" />
    </div>
    <div class="flex flex-col justify-start items-center sm:items-start gap-0">
      <h4 class={cn("text-sm leading-normal font-semibold", styles?.header)}>
        ACT NOW!
      </h4>
      <p
        class={cn(
          "text-sm leading-normal font-normal max-sm:text-center",
          styles?.text,
        )}>
        {eventText}
      </p>
    </div>
  </div>
  <div
    id="timerWrapper"
    style={{ display: "none" }}
    class="flex flex-row flex-nowrap justify-start items-center gap-2.5">
    <div class="w-fit flex flex-col justify-center items-center gap-0">
      <p
        id="daysLeft"
        class={cn("text-2xl leading-[30px] font-semibold", styles?.timer)}>
      </p>
      <p
        class={cn(
          "text-xs leading-tight font-normal opacity-60",
          styles?.timerLegend,
        )}>
        days
      </p>
    </div>
    <div class={cn("w-[1px] h-[45px] bg-white/20")}></div>
    <div class="w-fit flex flex-col justify-center items-center gap-0">
      <p
        id="hoursLeft"
        class={cn("text-2xl leading-[30px] font-semibold", styles?.timer)}>
      </p>
      <p
        class={cn(
          "text-xs leading-tight font-normal opacity-60",
          styles?.timerLegend,
        )}>
        hours
      </p>
    </div>
    <div class={cn("w-[1px] h-[45px] bg-white/20")}></div>
    <div class="w-fit flex flex-col justify-center items-center gap-0">
      <p
        id="minutesLeft"
        class={cn("text-2xl leading-[30px] font-semibold", styles?.timer)}>
      </p>
      <p
        class={cn(
          "text-xs leading-tight font-normal opacity-60",
          styles?.timerLegend,
        )}>
        minutes
      </p>
    </div>
  </div>
</div>
<script>
  import { secondsInMinute, millisecondsInSecond } from "date-fns/constants";
  import { differenceInDays, intervalToDuration } from "date-fns";

  function updateCountdown(root) {
    const ensTokenIcon = root.querySelector("#ensTokenIcon");
    const timerWrapper = root.querySelector("#timerWrapper");
    const daysDisplay = root.querySelector("#daysLeft");
    const hoursDisplay = root.querySelector("#hoursLeft");
    const minutesDisplay = root.querySelector("#minutesLeft");

    const nowUnixTimestamp = Date.now() / millisecondsInSecond;
    const eventUnixTimestamp = Number(root.dataset.timestamp);
    const threshold = Number(root.dataset.threshold);

    if (nowUnixTimestamp < eventUnixTimestamp) {
      root.style.display = "flex";
    } else {
      // When the event has finished this banner won't be displayed
      root.style.display = "none";
      return;
    }

    if (nowUnixTimestamp > eventUnixTimestamp - threshold) {
      timerWrapper.style.display = "flex";
      ensTokenIcon.style.display = "none";

      const eventTimestamp = eventUnixTimestamp * millisecondsInSecond;
      const newDuration = intervalToDuration({
        start: new Date(),
        end: new Date(eventTimestamp),
      });

      daysDisplay.innerText = String(
        differenceInDays(new Date(eventTimestamp), new Date()),
      );
      hoursDisplay.innerText = String(
        newDuration.hours ? newDuration.hours : 0,
      );
      minutesDisplay.innerText = String(
        newDuration.minutes ? newDuration.minutes : 0,
      );
    } else {
      // When the eventUnixTimestamp is further than threshold of days away
      // The explicit countdown won't be displayed
      timerWrapper.style.display = "none";
    }
  }

  function countdownTick() {
    const countdownRoots = document.querySelectorAll("#countdownRoot");
    countdownRoots.forEach(updateCountdown);
  }

  document.addEventListener("astro:page-load", () => {
    countdownTick();
    setInterval(countdownTick, secondsInMinute * millisecondsInSecond);
  });
</script>
