---
import Check from "../../assets/checkIcon.svg";
import PartialCheck from "../../assets/grayCheckIcon.svg";
import Cross from "../../assets/xIcon.svg";
import { BenchmarkResult } from "../../data/appData";
import { cn } from "../../utils/tailwindClassConcatenation";

export interface MatrixBadgeProps {
  text: string;
  className: string;
  iconId: BenchmarkResult;
}

const { text, className, iconId }: MatrixBadgeProps = Astro.props;
---

<span
  class={cn(
    "w-fit flex flex-row flex-nowrap justify-center items-center gap-[6px] pl-[10px] pr-3 " +
      "py-1 rounded-full text-xs leading-normal font-medium",
    className,
  )}>
  {
    iconId === BenchmarkResult.Pass ? (
      <Check />
    ) : iconId === BenchmarkResult.Fail ? (
      <Cross />
    ) : (
      <PartialCheck />
    )
  }
  {text}
</span>
